http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?documentType=A65&processType=A16&periodStart=201512302300&periodEnd=201512312300&securityToken=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/xml
    body:
      encoding: ''
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Acknowledgement_MarketDocument\n\txmlns=\"urn:iec62325.351:tc57wg16:451-1:acknowledgementdocument:7:0\">\n\t<mRID>3960506f-bbb3-4</mRID>\n\t<createdDateTime>2023-05-19T18:42:18Z</createdDateTime>\n\n\t<sender_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</sender_MarketParticipant.mRID>\n\t<sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>\n\n\t<receiver_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</receiver_MarketParticipant.mRID>\n\t<receiver_MarketParticipant.marketRole.type>A39</receiver_MarketParticipant.marketRole.type>\n\n\t\n\t<received_MarketDocument.createdDateTime>2023-05-19T18:42:18Z</received_MarketDocument.createdDateTime>\n\n\n\t<Reason>\n\t\t<code>999</code>\n\t\t<text>Mandatory
        parameter OutBiddingZone_Domain is missing or is empty.</text>\n\t</Reason>\n\n\n</Acknowledgement_MarketDocument>\n"
  recorded_at: 2023-05-19 18:42:18 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
