http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512302300&periodEnd=201512312300&securityToken=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <GL_MarketDocument xmlns="urn:iec62325.351:tc57wg16:451-6:generationloaddocument:3:0">
            <mRID>5861b59e7578435d98f189b9f4ba288c</mRID>
            <revisionNumber>1</revisionNumber>
            <type>A65</type>
            <process.processType>A16</process.processType>
            <sender_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</sender_MarketParticipant.mRID>
            <sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>
            <receiver_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</receiver_MarketParticipant.mRID>
            <receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>
            <createdDateTime>2023-05-19T18:42:18Z</createdDateTime>
            <time_Period.timeInterval>
                <start>2015-12-30T23:00Z</start>
                <end>2015-12-31T23:00Z</end>
            </time_Period.timeInterval>
            <TimeSeries>
                <mRID>1</mRID>
                <businessType>A04</businessType>
                <objectAggregation>A01</objectAggregation>
                <outBiddingZone_Domain.mRID codingScheme="A01">10YCZ-CEPS-----N</outBiddingZone_Domain.mRID>
                <quantity_Measure_Unit.name>MAW</quantity_Measure_Unit.name>
                <curveType>A01</curveType>
                <Period>
                    <timeInterval>
                        <start>2015-12-30T23:00Z</start>
                        <end>2015-12-31T23:00Z</end>
                    </timeInterval>
                    <resolution>PT60M</resolution>
                    <Point>
                        <position>1</position>
                        <quantity>5981</quantity>
                    </Point>
                    <Point>
                        <position>2</position>
                        <quantity>5967</quantity>
                    </Point>
                    <Point>
                        <position>3</position>
                        <quantity>5889</quantity>
                    </Point>
                    <Point>
                        <position>4</position>
                        <quantity>5706</quantity>
                    </[...]
