http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?documentType=A69&in_Domain=10YFI-1--------U&periodEnd=202012312300&periodStart=201912312300&processType=A18&securityToken=0b6f37a7-d11b-420a-8d44-bcb1136dd5e0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GL_MarketDocument xmlns=\"urn:iec62325.351:tc57wg16:451-6:generationloaddocument:3:0\">\n\t<mRID>7fe12cb6d5d34bea955ee5ff8f3157be</mRID>\n\t<revisionNumber>1</revisionNumber>\n\t<type>A69</type>\n\t<process.processType>A18</process.processType>\n\t<sender_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</sender_MarketParticipant.mRID>\n\t<sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>\n\t<receiver_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</receiver_MarketParticipant.mRID>\n\t<receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>\n\t<createdDateTime>2023-05-20T13:07:40Z</createdDateTime>\n\t<time_Period.timeInterval>\n\t\t<start>2019-12-31T22:00Z</start>\n\t\t<end>2021-01-01T22:00Z</end>\n\t</time_Period.timeInterval>\n\t<TimeSeries>\n\t\t<mRID>1</mRID>\n\t\t<businessType>A94</businessType>\n\t\t<objectAggregation>A08</objectAggregation>\n\t\t<inBiddingZone_Domain.mRID
        codingScheme=\"A01\">10YFI-1--------U</inBiddingZone_Domain.mRID>\n\t\t<quantity_Measure_Unit.name>MAW</quantity_Measure_Unit.name>\n\t\t<curveType>A01</curveType>\n\t\t<MktPSRType>\n\t\t\t<psrType>B16</psrType>\n\t\t</MktPSRType>\n\t\t<Period>\n\t\t\t<timeInterval>\n\t\t\t\t<start>2019-12-31T22:00Z</start>\n\t\t\t\t<end>2020-01-01T22:00Z</end>\n\t\t\t</timeInterval>\n\t\t\t<resolution>PT60M</resolution>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>1</position>\n
        \                       <quantity>0</quantity>\n\t\t\t\t</Point>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>2</position>\n
        \                       <quantity>0</quantity>\n\t\t\t\t</Point>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>3</position>\n
        \                       <quantity>0</quantity>\n\t\t\t\t</Point>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>4</position>\n
        \                       <quantity>0</quantity>\n\t\t\t\t</Point>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>5</position>\n
        \                       <quant[...]
