http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?documentType=A71&in_Domain=10YCZ-CEPS-----N&periodEnd=202012312300&periodStart=201912312300&processType=A33&securityToken=0b6f37a7-d11b-420a-8d44-bcb1136dd5e0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GL_MarketDocument xmlns=\"urn:iec62325.351:tc57wg16:451-6:generationloaddocument:3:0\">\n\t<mRID>3b8b0d78c4944fd7be0d3b0bc555c38b</mRID>\n\t<revisionNumber>1</revisionNumber>\n\t<type>A71</type>\n\t<process.processType>A33</process.processType>\n\t<sender_MarketParticipant.mRID
        codingScheme=\"A01\" >10X1001A1001A450</sender_MarketParticipant.mRID>\n\t<sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>\n\t<receiver_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</receiver_MarketParticipant.mRID>\n\t<receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>\n\t<createdDateTime>2023-05-20T13:05:56Z</createdDateTime>\n\t<time_Period.timeInterval>\n\t\t<start>2019-12-31T00:00Z</start>\n\t\t<end>2020-12-31T00:00Z</end>\n\t</time_Period.timeInterval>\n\t<TimeSeries>\n\t\t<mRID>1</mRID>\n\t\t<businessType>A37</businessType>\n\t\t<objectAggregation>A06</objectAggregation>\n\t\t<inBiddingZone_Domain.mRID
        codingScheme=\"A01\">10YCZ-CEPS-----N</inBiddingZone_Domain.mRID>\n\t\t<registeredResource.mRID
        codingScheme=\"A01\">27W-PU-EPLE----4</registeredResource.mRID>\n\t\t<registeredResource.name>EPLE_______</registeredResource.name>\n
        \       <quantity_Measure_Unit.name>MAW</quantity_Measure_Unit.name>\n\t\t<curveType>A01</curveType>\n\t\t<MktPSRType>\n\t\t\t<psrType>B02</psrType>\n\t\t\t<voltage_PowerSystemResources.highVoltageLimit
        unit=\"KVT\">22</voltage_PowerSystemResources.highVoltageLimit>\n\t\t</MktPSRType>\n\t\t<Period>\n\t\t\t<timeInterval>\n\t\t\t\t<start>2019-12-31T00:00Z</start>\n\t\t\t\t<end>2020-12-31T00:00Z</end>\n\t\t\t</timeInterval>\n\t\t\t<resolution>P1Y</resolution>\n\t\t\t<Point>\n\t\t\t\t<position>1</position>\n\t\t\t\t<quantity>111</quantity>\n\t\t\t</Point>\n\t\t</Period>\n\t</TimeSeries>\n\t<TimeSeries>\n\t\t<mRID>2</mRID>\n\t\t<businessType>A37</businessType>\n\t\t<objectAggregation>A06</objectAggregation>\n\t\t<inBiddingZone_Domain.mRID
        codingScheme=\"A01\">10YCZ-CEPS-----N</inBiddingZone_Domain.mRID>\n\t\t<registeredResource.mRID
        codingScheme=\"A01\">27W-PU-EPC1----Y</registeredResource.mRID>\n\t\t<registeredResource.name>EPC1_______</registeredResource.name>\n
        \       <quantity_Measure_Uni[...]
